/* Rosé Pine for CodeMirror */
/* https://rosepinetheme.com */
/* This theme was built using [bloom](https://github.com/rose-pine/rose-pine-bloom) */

.cm-s-rose-pine .CodeMirror-gutters { background: #1f1d2e !important; }
.cm-s-rose-pine .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #6e6a86; }
.cm-s-rose-pine .CodeMirror-cursor { border-left: 1px solid #e0def4; }
.cm-s-rose-pine { background-color: #191724; color: #e0def4; }
.cm-s-rose-pine span.cm-builtin { color: #eb6f92; font-weight: bold; }
.cm-s-rose-pine span.cm-comment { color: #6e6a86; }
.cm-s-rose-pine span.cm-keyword { color: #31748f; font-weight: bold; }
.cm-s-rose-pine span.cm-atom { color: #ebbcba; }
.cm-s-rose-pine span.cm-def { color: #e0def4; }
.cm-s-rose-pine span.cm-variable { color: #f6c177; }
.cm-s-rose-pine span.cm-variable-2 { color: #e0def4; }
.cm-s-rose-pine span.cm-string { color: #f6c177; }
.cm-s-rose-pine span.cm-string-2 { color: #f6c177; }
.cm-s-rose-pine span.cm-number { color: #ebbcba; }
.cm-s-rose-pine span.cm-tag { color: #9ccfd8; }
.cm-s-rose-pine span.cm-property { color: #c4a7e7; }
.cm-s-rose-pine span.cm-attribute { color: #f6c177; }
.cm-s-rose-pine span.cm-qualifier { color: #9ccfd8; }
.cm-s-rose-pine span.cm-meta { color: #908caa; }
.cm-s-rose-pine span.cm-header { color: #eb6f92; }
.cm-s-rose-pine span.cm-operator { color: #908caa; }
.cm-s-rose-pine span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-rose-pine span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid #eb6f92; background: none; }
.cm-s-rose-pine .CodeMirror-activeline { background: #21202e; }
.cm-s-rose-pine .CodeMirror-activeline-background { background: #21202e; }
.cm-s-rose-pine div.CodeMirror-selected { background: #403d52; }
.cm-s-rose-pine .CodeMirror-focused div.CodeMirror-selected { background: #524f67; }